@CHARSET "UTF-8";
/*header样式*/
img{
	border:none;
}
.wrap{
	width:1200px;
	margin:auto;
}
.headerNavigation{
	width:100%;
	height:90px;
	background-color:#fff;
	overflow:hidden;
}
.hn_main{
	height:100%;
	margin:0 auto;
	position:relative;
}
.hn_logo{
	float:left;
	margin-top:2px;
}
.hn_logo img{
	vertical-align: middle;
	margin-top:22px;
}
.hn_menu{
	height:100%;
	float:left;
	text-align: right;
	width:384px;
	padding:0 84px;
}
.hn_menu ul li{ 
 	font-size:16px;
 	float:left;
  	width:96px;
  	line-height: 90px;
}
.hn_menu ul li a{
	width:100%;
	display: inline-block;
	*display: inline;
	*zoom:1;
	font-size:18px;
	color:#333;
	height:90px;
	text-align: center;
	text-decoration:none;
	outline:none;
	border:none;
}
.hn_menu ul li a.select{
    border-bottom:2px solid #d5181f;
    color:#d5181f;
}
.mod_top_search{
	position: absolute;
	top:0;
	right:192px;
}
.mod_search_input{
	border: 1px solid #dfdfdf;
    padding: 0 33px 0 11px;
    line-height: 38px;
    height: 38px;
    margin-top: 26px;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
}
.search_input__input{
	width: 174px;
    height: 36px;
    border: 0 none;
    outline:none;
    font-size: 14px;
    background: 0 0;
}
.search_input__btn{
	position: absolute;
    top: 0;
    right: 0;
    border: 0 none;
    outline:none;
    width: 38px;
    height: 35px;
    overflow: visible;
    background: 0 0;
}
.icon_search{
	position: absolute;
    top: 50%;
    right: 11px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background: url("../images/search.png") right center no-repeat;
    background-size:cover;
}
.icon_txt{
	font: 0/0 a;
}
.msg{
	position: absolute;
	top:34px;
	right:20px;
}
.msg a{
	display:inline-block;
	*display:inline;
	*zoom:1;
	color:#333;
	font-size:18px;
	width:36px;
	text-decoration: none;
}
/*footer样式*/
.footer{
    width:100%;
    height:104px;
    line-height: 104px;
    background-color:#333;
    color:#fff;
    clear:both;
}
.footer  p{
    text-align: center;
    font-size:18px;
}